{% extends "network/layout.html" %}

{% block body %}

  <h3>Followed Users Posts</h3>
  
    {% for post in posts %}
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
          <div class="modal-header border-bottom-0">
            <div>
              <a href="{% url 'user_page' post.creator.id %}">
                <h4 class="modal-title fs-5">{{ post.creator }}</h1>
              </a>
            </div>
          </div>
          <div class="modal-body py-0">
            <p>{{ post.content }}</p>
          </div>
          <div class="modal-footer">
            <p id="date_modal">{{ post.date }}</p>
            <button type="button" class="btn btn btn-primary">Edit</button>
            <button type="button" class="btn btn btn-dark">Comment</button>
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}