{% extends "network/layout.html" %}

{% block body %}

    <section id="content" class="container">
    <div class="page-heading">
        <div class="media">
          <div class="media-left pr30">
            <a href="#">
              <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
            </a>
            <div>
                <h4>Follower: {{ followed }}</h4>
                <h4>Following: {{ following }}</h4>
            </div>

            {% if user_searched.id != user.id %}
              <form action="{% url 'change_follow' user_searched.id %}" method="post">
                {% csrf_token %}
                {% if not follow_state %}
                  	<button  type="submit" name="action" value="follow" class="btn btn-info mb-3">Follow</button>
                {% else %}
                <button  type="submit" name="action" value="unfollow" class="btn btn-danger mb-3">Unfollow</button>
                {% endif %}
              </form>
            {% endif %}

          </div>                      
          <div class="media-body va-m">
            <h2 class="media-heading">{{ user_searched.username }}</h2>
            <p class="lead">Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt</p>
            <div class="media-links">

                {% for post in posts %}
                <div class="modal-dialog" role="document" >
                  <div class="modal-content rounded-5 shadow" >
                    <div id="view_{{ post.id }}">
                      <div class="modal-header border-bottom-0">
                        <div>
                          <a href="{% url 'user_page' post.creator.id %}">
                            <h4 class="modal-title fs-5">{{ post.creator }}</h4>
                          </a>
                        </div>
                      </div>
                      <div class="modal-body py-0" id="post_{{ post.id }}">
                        <p>{{ post.content }}</p>
                      </div>
                      <div class="modal-footer" id="buttons_post_{{ post.id }}">
                        <p id="date_modal">{{ post.date }}</p>
                          {% if post.creator == user %}
                            <button data-post="{{post.id}}" type="button" id="edit" class="btn btn btn-primary" >Edit</button> 
                          {% endif %}
                      </div>
                    </div>
                    <div class="edit_view" id="edit_view_{{ post.id }}">
                    </div>
                  </div>
                </div>
                {% endfor %}
                
            </div>
          </div>
        </div>
    </div>
    </section>
{% endblock %}